<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Daily Tech News</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.min.js" integrity="sha512-OvBgP9A2JBgiRad/mM36mkzXSXaJE9BEIENnVEmeZdITvwT09xnxLtT4twkCa8m/loMbPHsvPl0T8lRGVBwjlQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css" integrity="sha512-GQGU0fMMi238uA+a/bdWJfpUGKUkBdgfFdgBm72SUQ6BeyWjoY/ton0tEjH+OSH9iP4Dfh+7HM0I9f5eR0L/4w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
 
    <header>
        <div class="container">
          <div class="row">
            <div class="col-lg-2 col-md-2">
                  <a class="navbar-brand" href="#">Daily Tech News</a>
            </div>
            <div class="col-lg-4 col-md-4">
              <ul class="menu">
                <li class="menu-item">Home</li>
                <li class="menu-item">Dashboard</li>
              </ul>
            </div>

            <div class="col-lg-4 col-md-4">
              <ul class="login">
                <li class="login-item"><a href="/login">login</a></li>
                
                <li class="login-item">logout</li>
              </ul>
            </div>
          </div>
        </div>
    </header>
    <main class="container">
      {{{ body }}}
    </main>
    
    <footer class="container">
      Thanks for visiting!
    </footer>
 
</body>

</html>